body {
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}

.content-wrapper {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.navbar .container-fluid {
    justify-content: space-between;
}
@media (max-width: 991px) {
    .navbar-collapse {
        order: 2;
    }
}

/* theme-toggle button */
[data-bs-theme="light"] .theme-toggle .btn {
    color: #000;
    border-color: #000;
}
[data-bs-theme="light"] .theme-toggle .btn:hover {
    color: #fff;
    background-color: #000;
}

[data-bs-theme="dark"] .theme-toggle .btn {
    color: #fff;
    border-color: #fff;
}
[data-bs-theme="dark"] .theme-toggle .btn:hover {
    color: #000;
    background-color: #fff;
}
